@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/SourceSansPro-Regular.woff2");
}
@font-face {
  font-family: "SourceSansPro-Light";
  src: url("../fonts/SourceSansPro-Light.woff2");
}
@font-face {
  font-family: "SourceSansPro-Bold";
  src: url("../fonts/SourceSansPro-Bold.woff2");
}
@font-face {
  font-family: "PlayfairDisplay-Italic";
  src: url("../fonts/PlayfairDisplay-Italic.woff2");
}
@font-face {
  font-family: "PlayfairDisplay-Bold";
  src: url("../fonts/PlayfairDisplay-Bold.woff2");
}
@font-face {
  font-family: "PlayfairDisplay-Regular";
  src: url("../fonts/PlayfairDisplay-Regular.woff2");
}